body {
  width: 100%;
  height: 100vh;
}

h1 {
  font-size: 96px;
  font-weight: 900;
}

h2 {
  font-size: 48px;
  font-weight: 800;
}

h3 {
  font-size: 36px;
  font-weight: 750;
  color: #06c;
}

h4 {
  font-weight: 750;
}

div {
  font-weight: 600;
}

li {
  font-weight: bold;
  font-size: small;
  color: #858585;
}

a {
  color: rgb(0, 113, 227);
  text-decoration: none;
}
a:hover {
  color: rgb(1, 52, 103);
}

.main {
  margin-top: 30px;
}
.headline li {
  color: #000000;
}
.headline p {
  font-size: 30px;
}

.aboutMe {
  display: flex;
  gap: 30px;
  white-space: nowrap;
}
.me div {
  font-size: 28px;
}
.me p {
  font-size: 19px;
}

.skills {
  font-size: 21px;
}
.skills li {
  font-size: 16px;
}

.ps {
  margin-bottom: 5px;
}

.period {
  margin-bottom: 5px;
}

.project-members {
  display: flex;
  gap: 4px;
  margin-bottom: 6px;
}

.member-category {
  color: #656565;
}

#navbar-example3 {
  position: fixed;
  height: 100vh;
  overflow-y: auto;
  width: 270px;
}

#navbar-example3 .nav-link {
  white-space: nowrap;
  font-size: 30px;
}

#navbar-example3 .nav-link.active {
  background-color: #f5f5f7;
  color: rgba(0, 0, 0, 0.8);
}

.col-8 {
  margin-left: 300px;
}
#navbar-example3 {
  background-color: rgb(250, 250, 252);
  border-right: 1px solid #dee2e6;
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar-example3 a {
  color: #333336;
}
#navbar-example3 a:hover {
  color: #000000;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  filter: invert(1);
}

#carouselExampleIndicators {
  max-width: 600px;
  max-height: 300px;
}
